<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="NetDDE Bridge v2.5"
             Language="1033"
             Version="2.5.0"
             Manufacturer="Chris Oldwood"
             UpgradeCode="67B7E77C-9AF3-4209-96FD-929B0C0215D7">

        <Package Compressed="yes"/>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Directory Name="SourceDir" Id="TARGETDIR">
            <Directory Name="Tools" Id="Tools">
                <Directory Name="NetDDE" Id="PRODUCT_DIR">
                    <Component Id="_1" Guid="D08CD7BB-72C3-4420-9EF6-E5FD18783E53">

                        <File Source="Server\$(env.build)\Win32\NetDDEServer.exe"/>
                        <File Source="Client\$(env.build)\Win32\NetDDEClient.exe"/>
                        <File Source="Shared\HelpFile\Manual.html"/>
                        <File Source="RelNotes.txt"/>
                        <File Source="ReadMe.txt"/>

                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="NetDDE"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="8A6E2448-A8C7-4222-93C3-8A24C0F678BC">
                <Shortcut Id="ServerStartMenuShortcut"                      
                          Name="NetDDE Bridge Server"                    
                          Description="Network DDE bridge server"                    
                          Target="[PRODUCT_DIR]NetDDEServer.exe"
                          WorkingDirectory="PRODUCT_DIR"/>
                <Shortcut Id="ClientStartMenuShortcut"                      
                          Name="NetDDE Bridge Client"                    
                          Description="Network DDE bridge client"                    
                          Target="[PRODUCT_DIR]NetDDEClient.exe"
                          WorkingDirectory="PRODUCT_DIR"/>
                <Shortcut Id="ManualStartMenuShortcut"                      
                          Name="NetDDE Help"                    
                          Description="Documentation for the network DDE bridge"                    
                          Target="[PRODUCT_DIR]Manual.html"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Chris Oldwood\NetDDE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>           
            </Component>
        </DirectoryRef>

        <Property Id="WIXUI_INSTALLDIR" Value="PRODUCT_DIR" />

        <Feature Id="_1" Level="1">
            <ComponentRef Id="_1"/>
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <UIRef Id="WixUI_Common" />

        <UI Id="WixUI_InstallDir">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" Bold="yes" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            
            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

    </Product>
</Wix>
